{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 120,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss", "./prettier-mdx.mjs"],
  "overrides": [
    {
      "files": ["*.mdx"],
      "options": {
        "parser": "mdx-custom"
      }
    }
  ]
}
